body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: roboto, sans-serif;
}

.nav {
    display: flex;
    margin: 0 400px;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
}

.nav-img {
    background-color: #1F2937;
    color: white;
}

.hero {
    display: flex;
    padding: 50px 0;
    margin: 0 380px;
}

.left {
    width: 400px;
    margin-right: auto;
}

.web-awesome {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.hero-text {
    font-size: 15px;
    margin: 10px 0;
}

.information-txt {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 0;
}

.right-placeholder {
    padding: 10px 100px;
    background-color: #89898b; 
}

.main-content { 
    flex: 1;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.square {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 2px solid blue;
    border-radius: 6px;
}

.squares {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.random-info-el {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.thor-quote {
    width: 100%;
    margin: 0 auto;
    background-color: #E5E7EB;
    font-style: italic;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    width: 600px;
}

.thor-quote .person {
    text-align: right;
    width: 600px;
}

.action {
    display: flex;
}

button {
    height: 50px;
    width: 150px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
    border: none;
}

.footer {
    background-color: #1F2937;
    padding: 20px;
}